body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#auth-section {
    margin-bottom: 20px;
}

#image-section {
    width: 80%;
    height: 60vh;
    position: relative;
}

#selection-section {
    margin-top: 20px;
}

#selection-list {
    list-style-type: none;
}