/* styles.css */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header, footer {
    background-color: #ffdddd;
}

.btn, .marker-box {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn:hover, .marker-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.marker {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    cursor: move;
}

.marker.danger {
    background-color: red;
}

.marker.caution {
    background-color: orange;
}

.marker.safe {
    background-color: green;
}

.marker.pink {
    background-color: pink;
}

.marker.pink[data-hazard-level]:after {
    content: attr(data-hazard-level);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
}

#hazard-image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: calc(100vh - 120px);
}

@keyframes confetti {
    0% { transform: translateY(-100vh); }
    100% { transform: translateY(100vh); }
}

.confetti-piece {
    width: 10px;
    height: 20px;
    position: absolute;
    top: -10px;
    animation: confetti 5s linear infinite;
}

.confetti-piece:nth-child(2n) { background-color: blue; }
.confetti-piece:nth-child(3n) { background-color: green; }
.confetti-piece:nth-child(4n) { background-color: yellow; }
.confetti-piece:nth-child(5n) { background-color: orange; }

#button-container {
    position: absolute;
    right: 20px;
    top: 50px;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* Prevent text selection for Safari */
    -moz-user-select: none; /* Prevent text selection for Firefox */
    -ms-user-select: none; /* Prevent text selection for IE10+ */
}

img {
    -webkit-user-drag: none; /* Prevent image dragging for Safari */
}

#button-container .btn {
    background-color: #26a69a; /* Set a common color for all buttons */
    color: white;
    margin-bottom: 10px;
}

.error-modal {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s, top 0.5s;
    z-index: 1000;
}

.error-modal.show {
    top: 20px;
    opacity: 1;
}
