.card {
    flex: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    transition: flex 0.3s ease-in-out;
    margin: 5px;
}

.card:hover {
    flex-grow: 3;
}

.card-1 {
    background-color: #ff9999; /* light red */
}

.card-2 {
    background-color: #99ff99; /* light green */
}

.card-3 {
    background-color: #9999ff; /* light blue */
}

.card-4 {
    background-color: #ffcc99; /* light orange */
}

.card-5 {
    background-color: #cc99ff; /* light purple */
}
